<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <style>

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

	form {
    display: block;
    margin-top: 0em;
}
@media (min-width: 576px)
.col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
       
    }
  </style>
  </head>
  <body>
    <h1><%= title %></h1>
<div class="container-fluid" >
	<div class="row content no-gutter">
	<form action="/addProfile" method="POST">
		<div class="col-xs-4 col-md-4" style=" padding: 10px;">
				<input type="email" class="form-control" name="Email" placeholder="Email"><br>
				<input type="password" class="form-control" name="password" placeholder="Password"><br>
				<button type="submit" class="btn btn-primary">SignIn</button><br>
		</div>
		
		<div class="col-xs-4 col-md-4" style=" padding: 10px;">
				<input type="name" class="form-control" name="reg_UserName" placeholder="Username"><br>
				<input type="email" class="form-control" name="reg_Email" placeholder="Email"><br>
				<input type="password" class="form-control" name="reg_Password" placeholder="Password"><br>
				<button type="submit" class="btn btn-primary">SignUp</button><br>
		</div>
	</div>
</div>
  </body>
</html>
